* {
  margin: 0;
  padding: 0;
}

nav {
  background: black;
  padding: 20px 0px;
}

nav a {
  color: white;
  padding: 20px 30px;
}

.banner {
  background: rgb(95, 188, 255);
  color: white;
  padding: 45px 0px;
  text-align: center;
}

.contenedor{
    margin: 30px;
}

#centrarImagen {
  text-align: center;
}
